<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 me-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Register Business </h5>
                      <form action="/" method="POST">
                      <input type="text" class="form-control mb-4" placeholder="Enter a Company Name" name="cname">
                      <input type="text" class="form-control mb-4" placeholder="contact" name="phoneno">
                      <input type="text" class="form-control mb-4" placeholder="address" name="location">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                </div>
             </div>
            <div class="col-8">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>sno</th>
                        <th>cnames</th>
                        <th>contact</th>
                        <th>address</th>
                        <th>action</th>
                    </tr>
                    {% for company in business %}
                    <tr>
                        <td>{{ company.sno }}</td>
                        <td>{{ company.business_name}}</td>
                        <td>{{ company.contact}}</td>
                        <td>{{ company.add}}</td>
                        <td><a href="/update/{{ company.sno}}">update</a>
                            <a href="/delete/{{ company.sno}}">delete</a></td>
                    </tr>
                    {% endfor %}
                  </table>

            </div>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
</html>
